.days {
  width: 100%;
  overflow: hidden;
}
.days .names-months .name-month {
  width: 7.6923076923077%;
  text-align: center;
}
.days .content {
  display: flex;
  overflow-y: scroll;
  width: calc(100% + 17px);
}
.days .content .numbers-days {
  width: 7.6923076923077%;
}
.days .content .numbers-days .number-day {
  height: 7.6923076923077%;
}
.days .content .markers-days {
  width: 7.6923076923077%;
}
.days .content .markers-days .marker-day {
  height: 7.6923076923077%;
  background-color: #999;
}
