body>.content {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
body>.content>.top .name-project {
  text-align: left;
}
body>.content>.center {
  width: 100%;
  height: 100%;
  display: flex;
}
body>.content>.center .days {
  margin: 0 auto;
}
body>.content>.center .form-edit-day {
  width: 100%;
}
@media (max-width: 428px) {
  body>.content>.center .form-edit-day {
    display: none;
  }
}
